<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @gossip.title %></h1>
      <p class="card-text"><%= @gossip.content %></p>
      <p class="card-text">
        Par 
        <span class="small">
          <%= link_to @gossip.user.name, user_path(@gossip.user) %><br>
          Ville de l'auteur : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %>
          </span> <!-- Nom de l'auteur en plus petit -->
      </p>
      <p class="card-text">
        <small class="text-muted">Créé le : <%= @gossip.created_at.strftime("%d/%m/%Y") %></small>
      </p>
     
     <p><%= @gossip.likes_count %> Likes</p>
<% if current_user %>
  <%= button_to 'Like', like_gossip_path(@gossip), method: :post %>
  <%= button_to 'Dislike', dislike_gossip_path(@gossip), method: :delete %>
<% end %>


       <div class="comment_section">
        Commentaires
        <% 
        @comments.each do |comment| 
            comment_author = User.find comment.user_id
            comment_author_name = comment_author.name
            comment_content = comment.content
        %>

        <div class="comment_card">
            <%= comment_author_name %><br>
            <%= comment_content%>
        </div>

        <%end%>

    </div>
        
      <%= link_to 'Modifier ce potin', edit_gossip_path(@gossip), class: 'btn btn-warning' %>
        <a href="<%= gossip_path(@gossip) %>" class="btn" onclick="event.preventDefault(); if(confirm('Êtes-vous sûr de vouloir supprimer ce potin ?')) { document.getElementById('delete-form-<%= @gossip.id %>').submit(); }">Supprimer</a>
  
  <%= form_with(model: @gossip, method: :delete, local: true, id: "delete-form-#{@gossip.id}", style: "display: none;") do |form| %>
  <% end %>

    </div>
  </div>
</div>